$main-color:#000;
$sub-color:#707070;
$uness-color:#404040;
$white-color:#fff;
$lightgray-color:#f5f5f5;
$blue-color:#add4ff;
$lightred-color:#ebd9d9;
$violet-color:#e6e2f0;
//product-page color
$gray-color:#919394;
$sidelink-color:#97aabd;
$discount-color:#c1ced4;
$lightblue-color:#f0f9ff;
$home-link:#000759;